body {
    height: 1000px;
}

ul li img:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.addtocart {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 5%;
    color: white;
    background-color: gray;
    border-color: white;
    margin: 20px 569px 40px;
}

.showprice {
    margin: 20px 569px 10px;
    font-size: 33px;
    font-weight: bold;
}

.content {
    border: 1px solid gray;
    margin: 20px 569px 40px;
    width: 230px;
    text-align: center;
    font-size: 17px;
    background-color: aliceblue;
}